@model Vidly.Models.Movie
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies Index</h2>
<p>@Html.ActionLink("Random", "Random", "Movies")</p>
<p>@Html.ActionLink("Movie Catalog","MovieCatalog","Movies")</p>