@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers Index</h2>


@if(!Model.Any())
{
    <p>There are currently no customers in the Database.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thhead>
            <tr>
                <th>
                    Customer
                </th>
            </tr>
        </thhead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
            </tr>
            }
        </tbody>
    </table>
}